<h1>******** Now your results ********</h1>
<p> Your word: <%= @word %> </p>
<p>Time Taken to answer:</p>
<p>Message: <%= @answer %> </p>
<%# Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done! %>


<%= link_to "Play again", new_path %>
